   <p>
  <span class="base-button base-button-blue">Primary</span>
</p>

<p>
  <span class="base-button base-button-gray">Secondary</span>
</p>

<p>
  <span class="base-button base-button-green">Success</span>
</p>

<p>
  <span class="base-button base-button-red">Danger</span>
</p>

<p>
  <span class="base-button base-button-orange">Warning</span>
</p>

<p>
  <span class="base-button base-button-cyan">Info</span>
</p>


<p>Less intrusive variants:</p>

<p>
  <span class="base-button-outline base-button-outline-blue">Primary (unobtrusive)</span>
</p>

<p>
  <span class="base-button-outline base-button-outline-gray">Secondary (unobtrusive)</span>
</p>

<p>
  <span class="base-button-outline base-button-outline-green">Success (unobtrusive)</span>
</p>

<p>
  <span class="base-button-outline base-button-outline-red">Danger (unobtrusive)</span>
</p>

<p>
  <span class="base-button-outline base-button-outline-orange">Warning (unobtrusive)</span>
</p>

<p>
  <span class="base-button-outline base-button-outline-cyan">Info (unobtrusive)</span>
</p>

    </div>
  </body>
